:root{
    --font-color-cabecalho-rodape: #39ff14;
    --background-cabecalho-rodape: rgb(0, 0, 0, 0.75);
    --background-main: transparent;

    --background-input: rgb(0, 0, 0, 0.75);
    --border-input: white;
    --font-color-input: white;
    
    --font-color-alert: white;
    
    --background-resposta: rgb(0, 0, 0, 0.75);
    --border-resposta: white;
    --border-resposta-logo: white;
    --font-color-resposta: white;
    --font-color-resposta-titulo: white;
    --font-color-resposta-informativo: white;
    
    --background-criptografar:  rgb(0, 0, 0, 0.75);
    --border-criptografar: #0028ff;
    --font-color-criptografar: #0028ff;
    --background-hover-criptografar: #008cff;
    
    --background-descriptografar:  rgb(0, 0, 0, 0.75);
    --border-descriptografar: #ff0303;
    --font-color-descriptografar: #ff0303;
    --background-hover-descriptografar: #f59b9b;

    --background-copiar:  transparent;
    --border-copiar: #26ff00;
    --font-color-copiar: #26ff00;
    --background-hover-copiar: #446b21;

    --border-change: #0028ff;
    --background-hover-change: #008cff;

    --background-alert: rgb(0, 0, 0, 0.9);
    --border-alert: #26ff00;
    --font-color-alert: #26ff00;
    --font-color-button-alert-vermelha: #ff0303;
    --background-hover-alert-vermelha: #f59b9b;
    --font-color-button-alert-azul: #0028ff;
    --background-hover-alert-azul: #008cff;
    --shadow-alert: rgb(38, 255, 0, 0.75);
}