iframe{
    display: none;
}

.conteudo{
    padding: 40px;
}

.conteudo__logo__alura{
    width: 32px;
}

.conteudo__texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}

/*Tablet*/
@media (max-width:1439px) and (min-width: 770px) {
    .conteudo{
        padding: 40px;
    }
}

/*Smartphone*/
@media (max-width: 769px) {

    .conteudo{
        padding: 20px 10px 20px;
    }
}