:root{
    --font-color-cabecalho-rodape: #FFFFFF;
    --background-cabecalho-rodape: #0A3871;
    --background-main: #F3F5FC;

    --background-input: transparent;
    --border-input: #0A3871;
    --font-color-input: #0A3871;
    
    --font-color-alert: #495057;
    
    --background-resposta: #FFFFFF;
    --border-resposta: #0A3871;
    --border-resposta-logo: white;
    --font-color-resposta: #495057;
    --font-color-resposta-titulo: #343A40;
    --font-color-resposta-informativo: #495057;
    
    --background-criptografar:  #0A3871;
    --border-criptografar: #0A3871;
    --font-color-criptografar: #FFFFFF;
    --background-hover-criptografar: #757FB2;
    
    --background-descriptografar:  #D8DFE8;
    --border-decriptografar: #0A3871;
    --font-color-decriptografar: #0A3871;
    --background-hover-descriptografar: #757FB2;

    --background-copiar:  transparent;
    --border-copiar: #0A3871;
    --font-color-copiar: #0A3871;
    --background-hover-copiar: #757FB2;

    --border-change: #ff0303;
    --background-hover-change: #f59b9b;
}