:root{
    --font-color-cabecalho-rodape: #FFFFFF;
    --background-cabecalho-rodape: #0A3871;
    --background-main: #f3f5fc;

    --background-input: transparent;
    --border-input: #0A3871;
    --font-color-input: #0A3871;
    
    --font-color-alert: #495057;
    
    --background-resposta: #FFFFFF;
    --border-resposta: #0A3871;
    --border-resposta-logo: white;
    --font-color-resposta: #495057;
    --font-color-resposta-titulo: #343A40;
    --font-color-resposta-informativo: #495057;
    
    --background-criptografar:  #0A3871;
    --border-criptografar: #0A3871;
    --font-color-criptografar: #FFFFFF;
    --background-hover-criptografar: #757FB2;
    
    --background-descriptografar:  #D8DFE8;
    --border-descriptografar: #0A3871;
    --font-color-descriptografar: #0A3871;
    --background-hover-descriptografar: #757FB2;

    --background-copiar:  transparent;
    --border-copiar: #0A3871;
    --font-color-copiar: #0A3871;
    --background-hover-copiar: #757fb2;

    --border-change: #ff0303;
    --background-hover-change: #f59b9b;

    --background-alert: rgb(243, 245, 252, 1);
    --border-alert: #0A3871;
    --font-color-alert: #0a3871;
    --font-color-button-alert-vermelha: #ff0303;
    --background-hover-alert-vermelha: #f59b9b;
    --font-color-button-alert-azul: #0028ff;
    --background-hover-alert-azul: #008cff;
    --shadow-alert: rgb(10, 56, 113, 0.75);
}