iframe{
    display: none;
}

.conteudo{
    padding: 40px;
}

.conteudo__logo__alura{
    width: 32px;
}

/* Desktop */
@media (min-width:1440px) and (max-height:430px){
    .conteudo{
        padding: 20px;
    }
}

/*Tablet*/
@media (max-width:1439px) and (min-width: 770px) {
    .conteudo{
        padding: 40px;
    }
}

@media (max-width:1439px) and (min-width: 770px) and (max-height: 640px) {
    .conteudo{
        padding: 10px 40px;
        gap:10px;
    }
}

/*Smartphone*/
@media (max-width: 769px) {

    .conteudo{
        padding: 20px 10px 20px;
    }
}

@media (max-width: 769px) and (max-height: 692px){
    .conteudo{
        min-width: 280px;
        min-height: 592px;
        justify-content: start;
        overflow: auto;
    }
    .conteudo__texto__input{
        min-height: 80px;
    }

    .conteudo__resultado{
        min-height: 140px;
    }

    .conteudo__resultado__instrucoes{
        height: fit-content;
    }

    .conteudo__resultado__instrucoes__titulo{
        font-size: var(--font-size-3);
    }

    .conteudo__resultado__instrucoes__texto{
        font-size: var(--font-size-4);
    }

    .conteudo__resultado__resposta{
        font-size: var(--font-size-3);
    }

}