iframe{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

/*Tablet*/
@media (max-width:1439px) and (min-width: 770px) {
    .conteudo{
        padding: 0px 40px 0px;
    }
}

/*Smartphone*/
@media (max-width: 769px) {

    .conteudo{
        padding: 0px 10px 0px;
    }
}