.conteudo__resultado__logo{
    display: none;
}

.conteudo__resultado__instrucoes{
    display: none;
}

.conteudo__resultado__instrucoes__titulo{
    display: none;
}

.conteudo__resultado__instrucoes__texto{
    display: none;
}